@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #000000;
  --basic-dark-grey: #323232;
  --black2: #353535;
  --chocolate-back: #502f1c;
  --green-grey: #5A5A5A;
  --raspberry-back: #690d2a;
  --light-green-grey: #696969;
  --basic-green: #849D8F;
  --basic-grey-blue: #8996A6;
  --basic-brown: #9D8B84;
  --red2: #942718;
  --dark-grey: #999999;
  --grey6: #ABABAB;
  --red1: #AC1000;
  --lightning-green: #D7F2E3;
  --dark-peach: #D07058;
  --grey4: #D3D3D2;
  --gradient-red: #E74A35;
  --orange: #E84D37;
  --waffles-back: #ebddc3;
  --dirty-white: #EDEDED;
  --basic-white: #ffffff;
  --gradient-orange: #f26843;
  --light-peach: #FBDED7;
  --peach: #F6B5A5;
  --white-grey: #F8F7F4;
  --pink: #FFBC9E;
  --white2: #FEFEFE;

  --shadow-grey: rgba(0, 0, 0, 0.2);
  --shadow-grey2: rgba(0, 0, 0, 0.4);
  --grey7: rgba(0, 0, 0, 0.07);
  --brown2: rgba(160, 32, 11, 0.76);
  --grey2: rgba(171, 171, 171, 0.3);
  --light-orange: rgba(172, 16, 0, 0.64);
  --light-orange2: rgba(172, 16, 0, 0.25);
  --grey: rgba(178, 178, 178, 0.52);
  --lightning-grey-blue: rgba(218, 228, 239, 0.75);
  --pink2: rgba(232, 77, 55, 0.3);
  --lightning-brown: rgba(239, 224, 218, 0.75);
  --special-white5: rgba(248, 247, 244, 0.5);
  --special-white: rgba(255, 255, 255, 0.2);
  --special-white2: rgba(255, 255, 255, 0.4);
  --special-white3: rgba(255, 255, 255, 0.5);
  --special-white4: rgba(255, 255, 255, 0.7);
  --special-pink: rgba(255, 188, 158, 0.3);
  --sky-blue: rgba(46, 136, 228, 0.52);
  --grey3: rgba(50, 50, 50, 0.2);
  --grey5: rgba(50, 50, 50, 0.3);
  --shadow-brown: rgba(85, 8, 0, 0.54);
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

body > input[type="radio"] {
  display: none;
}

.green-back {
  background-color: var(--basic-green);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.button {
  background: linear-gradient(180deg, var(--gradient-orange) 0%, var(--gradient-red) 100%);
  box-shadow: 0px 2px 2px var(--light-orange);
  text-shadow: 0px 2px 5px var(--brown2);
  border-radius: 70px;
  color: var(--basic-white);
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
}

.button:hover {
  background: linear-gradient(0deg, var(--special-white), var(--special-white)), linear-gradient(180deg, var(--gradient-orange) 0%, var(--gradient-red) 100%);
  box-shadow: 0px 1px 2px var(--red1);
}

.button:focus {
  background: linear-gradient(0deg, var(--grey7), var(--grey7)), linear-gradient(180deg, var(--gradient-orange) 0%, var(--gradient-red) 100%);
  box-shadow: inset 0px 2px 2px var(--red2);
}

/*Шапка сайта*/

.main-header {
  margin: 0 auto;
  width: 1200px;
  padding: 0 27px 28px;
}
/*Главная навигация*/

.main-nav {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 154px 1fr min-content;
  position: relative;
}

.main-nav a {
  text-decoration: none;
  color: var(--basic-white);
}

.main-nav a:hover,
.main-nav a:focus {
  color: var(--basic-dark-grey);
}

.main-nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav-link {
  font-weight: bold;
  line-height: 18px;
  border-bottom: 1px solid var(--special-white);
}

.main-nav-link:hover {
  background-color: var(--basic-white);
  border-bottom: none;
  border-radius: 26px;
}

.main-nav-link:focus {
  background-color: var(--dirty-white);
  box-shadow: inset 0px 2px 1px var(--light-green-grey);
  border-bottom: none;
  border-radius: 26px;
}

.main-nav-link.active {
  background-color: var(--dark-peach);
  border-radius: 26px;
  border-bottom: none;
}

.menu-list {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 20px var(--shadow-grey2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
}

.menu-list a {
  color: var(--basic-dark-grey);
}

.menu-link.new {
  font-weight: 700;
  border-bottom: 1px solid var(--grey3);
}

.menu-link {
  border-radius: 0;
}

.menu-link:hover {
  background-color: var(--light-peach);
}

.menu-link:focus {
  background-color: var(--peach);
}

.menu-link.active {
  background-color: var(--dark-peach);
  color: var(--basic-white);
}

/*Сервисная навигация*/

.user-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-link {
  background-color: var(--special-white);
  font-size: 14px;
  line-height: 16px;
  border-radius: 20px;
}

.user-link:hover {
  background-color: var(--basic-white);
}

.user-form {
  display: none;
  background-color: var(--white-grey);
  box-shadow: 0px 20px 20px var(--shadow-grey2);
  border-radius: 4px;
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="password"] {
  background-color: var(--basic-white);
  border: 1px solid var(--grey4);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--basic-dark-grey);
}

.user-form input[type="text"]:hover,
.user-form input[type="email"]:hover,
.user-form input[type="password"]:hover,
.mailing-form input[type="email"]:hover {
  border: 2px solid var(--grey);
}

.user-form input[type="text"]:focus,
.user-form input[type="email"]:focus,
.user-form input[type="password"]:focus,
.mailing-form input[type="email"]:focus {
  border: 2px solid var(--sky-blue);
  outline: none;
}

.user-form input::placeholder,
.mailing-form input::placeholder {
  color: var(--dark-grey);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.search-button {
  border: none;
  border-radius: 50%;
}

.login-button,
.order-button {
  box-shadow: 0px 1px 2px var(--light-orange2);
  text-shadow: none;
  border-radius: 26px;
}

.login-form-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.login-form-list a {
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-dark-grey);
  border-bottom: 1px solid var(--grey5);
}

.login-form-list a:hover,
.login-form-list a:focus {
  color: var(--orange);
  border-bottom: 1px solid var(--pink2);
}

.cart-content {
  display: none;
  background-color: var(--white-grey);
  box-shadow: 0px 20px 20px var(--shadow-grey2);
  border-radius: 4px;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-dark-grey);
}

.cart-content .product-info {
  color: var(--black);
}

.cart-content img {
  background-color: var(--grey7);
  border-radius: 50%;
}

.cart-price {
  color: var(--grey6);
}

.nav-contacts {
  position: absolute;
  right: 0;
  bottom: -35px;
}

.nav-contacts p {
  margin: 0;
}

.nav-contacts a,
.nav-contacts a:hover,
.nav-contacts a:focus {
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

/*Слайдер*/

.slider {
  position: relative;
  margin-bottom: 40px;
  margin-top: 247px;
  text-align: center;
  color: var(--basic-white);

}

.wrapper {
  background-image: url("../img/icecream-group1.png");
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 100vh;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

/* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */

.wrapper:before,
.wrapper:after {
  content: "";
  visibility: hidden;
}

.wrapper:before {
  background-image: url("../img/icecream-group2.png");
}

.wrapper:after {
  background-image: url("../img/icecream-group3.png");
}

.slide {
  display: none;
}

.slide-title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 700px;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.slide-button {
  display: inline-block;
  margin-bottom: 5px;
  padding: 12px 45px;
  font-weight: 600;
  vertical-align: top;
  color: var(--basic-white);
  text-decoration: none;
  background: var(--gradient-orange);
  border-radius: 70px;
  box-shadow: 0px 2px 2px var(--light-orange);
  text-shadow: 0px 2px 5px var(--brown2);
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
}

.slide-button:hover {
  box-shadow: 0px 2px 2px var(--red1);
}

.toggle {
  position: absolute;
  left: 0;
  bottom: 25px;
  font-size: 0;
}

.toggle label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.toggle label:hover {
  background-color: var(--special-white2);
}

.btn-1:checked ~ .wrapper .slide1,
.btn-2:checked ~ .wrapper .slide2,
.btn-3:checked ~ .wrapper .slide3 {
  display: block;
}

.btn-1:checked ~ .wrapper {
  background-color: var(--basic-green);
  background-image: url("../img/icecream-group1.png");
}

.btn-2:checked ~ .wrapper {
  background-color: var(--basic-grey-blue);
  background-image: url("../img/icecream-group2.png");
}

.btn-3:checked ~ .wrapper {
  background-color: var(--basic-brown);
  background-image: url("../img/icecream-group3.png");
}

.btn-1:checked ~ .wrapper label[for="btn-1"],
.btn-2:checked ~ .wrapper label[for="btn-2"],
.btn-3:checked ~ .wrapper label[for="btn-3"] {
  background-color: var(--basic-white);
}

/*Двухколоночные блоки*/

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin-bottom: 40px;
}

/*Акции*/

.special {
}

.special-item {
  width: 560px;
  min-height: 230px;
  border-radius: 16px;
  padding: 16px 16px 22px 16px;
}

.special-item.raspberries {
  background-image: url("../img/background-raspberries.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-color: var(--red1);
}

.special-item.chocolates {
  background-image: url("../img/background-chocolate.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-color: var(--shadow-brown);
}

.special-item h3 {
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  text-align: left;
}

.special-item p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.special-button {
  /*box-shadow: 0px 2px 2px var(--light-orange);*/
  font-weight: bold;
  /*text-shadow: 0px 2px 5px var(--brown2);*/
  /*border-radius: 70px;*/
  padding: 12px 20px 13px 20px;
}

.special-button:hover {
  box-shadow: 0px 1px 2px var(--light-orange);
}

/*Карточки с мороженым*/

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
  row-gap: 40px;
  margin-bottom: 40px;
}

.cards-image-wrapper {
  order: 2;
}

.cards-item h3 {
  margin: 0;
  font-weight: 500;
  order: 1;
  border-bottom: 1px solid var(--special-white);
  text-align: center;
}

.cards-item img {
  border-radius: 50%;
  background-color: var(--grey);
}

.cards-item:hover {
  background-color: var(--special-white);
  box-shadow: 0 20px 20px var(--shadow-grey);
  border-radius: 4px;
}

.cards-label {
  background-image: url("../img/label.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 61px;
  height: 61px;
  display: block;
}

.cards-item .product-button {
  display: none;
  border-radius: 50px;
  line-height: 24px;
  text-decoration: none;
  box-shadow: 0px 1px 2px var(--red1);
}

.cards-price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
}

.cards-item p {
  font-size: 30px;
  line-height: 35px;
  margin: 0;
}

/*О магазине*/

.about {
  background-image: url("../img/background-waffles.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center, center;
  background-color: var(--waffles-back);
  color: var(--basic-dark-grey);
  padding: 24px 20px 36px 20px;
  border-radius: 16px;
  margin-bottom: 40px;
}

.about-title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  row-gap: 33px;
}


/*Блок новостей*/

.blog {
  background-color: var(--basic-white);
  background-image: url("../img/background-strawberries.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center, right;
  width: 560px;
  min-height: 220px;
  color: var(--basic-dark-grey);
  border-radius: 16px;
}

.blog-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  text-align: left;
}

.blog-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  text-align: left;
}

.blog-item-title a {
  color: var(--basic-dark-grey);
  text-decoration-color: var(--black2);
}

.blog-item-title a:hover,
.blog-item-title a:focus {
  color: var(--orange);
  text-decoration-color: var(--pink2);
}

/*Рассылка*/

.mailing {
  background-color: var(--basic-white);
  background-image: url("../img/background-mail.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: top, center;
  width: 560px;
  min-height: 220px;
  padding-top: 5px;
  color: var(--basic-dark-grey);
  border-radius: 16px;
}

.mailing-wrapper {
  background: var(--white-grey);
  border-radius: 16px;
  min-height: 210px;
  margin: 0 5px;
}

.mailing-text {
  margin: 0;
  color: var(--green-grey);
}

.mailing-form input[type="email"] {
  background-color: var(--basic-white);
  border: 1px solid var(--grey);
  border-radius: 6px;
  color: var(--basic-dark-grey);
}

.mailing-button {
  /*border-radius: 70px;*/
  /*text-shadow: 0px 2px 5px var(--brown2);*/
}

/*Карта и контакты*/

.contacts-map {
  background-color: var(--grey);
}

.contacts-wrapper {
  background: var(--white2);
  border-radius: 16px;
  color: var(--basic-dark-grey);
  font-style: normal;
}

.contacts-wrapper p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.contacts-wrapper span,
.contacts-phone {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contacts-phone {
  color: var(--basic-dark-grey);
  text-decoration: none;
}

.contacts-button {
  text-decoration: none;
  text-shadow: 0px 2px 5px var(--brown2);
/*border-radius: 70px;*/
}

/*Хлебные крошки*/

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 13px;
}

.breadcrumbs-link {
  color: var(--basic-white);
  text-decoration: none;
  border-bottom: 1px solid var(--special-white);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: var(--pink);
  border-bottom: 1px solid var(--special-pink);
}

.breadcrumbs-link.active {
  border-bottom: none;
}

/*Каталог*/
.catalog-title {
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 30px;
}

/*Фильтр*/

.filter {
  margin-bottom: 40px;
}

.filter-form {
  font-weight: 500;
  line-height: 18px;
}

.fieldset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-fieldset legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.sorting-select {
  background: var(--special-white);
  border-radius: 20px;
  border: none;
  color: var(--basic-white);
}

.sorting-select:hover {
  color: var(--basic-dark-grey);
}

.price-range {
  background: var(--special-white);
  border-radius: 20px;
  border: none;
  color: var(--basic-white);
  min-height: 36px;
  width: 218px;
  /*position: relative;*/
}

/*.price-line-grey {*/
/*  !*width: 176px;*!*/
/*  height: 2px;*/
/*  background-color: var(--special-white5);*/
/*}*/

/*.price-line-white {*/
/*  width: 60%;*/
/*  height: 2px;*/
/*  background-color: var(--white-grey);*/
/*}*/

/*.price-circle {*/
/*  position: absolute;*/
/*  top: -9px;*/
/*  width: 4px;*/
/*  height: 4px;*/
/*  background: var(--grey6);*/
/*  border: 8px solid var(--basic-white);*/
/*  border-radius: 50%;*/
/*  -webkit-box-shadow: 0 2px 1px 0 var(--grey2);*/
/*  box-shadow: 0 2px 1px 0 var(--grey2);*/
/*  cursor: pointer;*/
/*  box-sizing: content-box;*/
/*}*/

/*.price-circle-left {*/
/*  left: 10%;*/
/*}*/

/*.price-circle-right {*/
/*  right: 10%;*/
/*}*/

/*.price-circle:hover {*/
/*  width: 4px;*/
/*  height: 5px;*/
/*  border: 9px solid var(--basic-white);*/
/*}*/

.filter-button {
  background: var(--special-white);
  border-radius: 20px;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
}

.filter-button:hover {
  border: none;
  color: var(--basic-dark-grey);
  background-color: var(--basic-white);
}

.filter-button:focus {
  box-shadow: inset 0px 2px 1px var(--light-green-grey);
}

/*Пагинация*/

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: -2/-1;
  justify-self: end;
  padding-top: 40px;
  padding-bottom: 30px;
}

.pagination-link {
  color: var(--basic-white);
  font-weight: 500;
  line-height: 18px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 50%;
}

.pagination-link:hover {
  background-color: var(--special-white);
}

.pagination-link.active,
.pagination-link:focus {
  background-color: var(--basic-white);
  color: var(--basic-dark-grey);
}

/*Подвал сайта*/

.footer {
  padding-top: 18px;
  padding-bottom: 25px;
  font-size: 13px;
  line-height: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 2/4;
  justify-self: center;
}

.footer-item a {
  color: var(--basic-white);
  text-decoration: none;
  border-bottom: 1px solid var(--special-white);
}

.footer-item a:hover,
.footer-item a:focus {
  color: var(--pink);
  border-bottom: 1px solid var(--special-pink);
}

/*Социальные сети*/

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-button {
  box-sizing: content-box;
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 2px solid var(--special-white3);
  border-radius: 50%;
}

.social-button:hover svg path,
.social-button:hover svg g {
  fill-opacity: 1;
}

.social-button:focus svg path,
.social-button:focus svg g {
  fill-opacity: 1;
}

.social-button:focus {
  border: 2px solid var(--special-white4);
}

/*Копирайт*/

.copyright {
  justify-self: end;
  grid-column: 4/5;
}

.copyright-text {
  font-size: 12px;
}

.copyright-text a {
  color: var(--basic-white);
  border-bottom: 1px solid var(--special-white);
  text-decoration: none;
}

.copyright-text a:hover,
.copyright-text a:focus {
  color: var(--pink);
  border: 1px solid var(--special-pink);
}

.price-range {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-range input[type="range"] {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 88px; /* Full-width */
  height: 2px; /* Specified height */
  background: linear-gradient(to right, rgba(248, 247, 244, 0.5) 27%, #ffffff 27%); /* Grey background */
  outline: none; /* Remove outline */
  /*opacity: 0.7; !* Set transparency (for mouse-over effects on hover) *!*/
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  display: block;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 20px;*/
  /*transform: translateX(-50%);*/
}

.price-range input[id="range-2"] {
  background: linear-gradient(to left, rgba(248, 247, 244, 0.5) 73%, #ffffff 73%);
  /*margin-top: -2px;!* Grey background *!*/
  right: 20px;
}

/* Mouse-over effects */
.price-range input[type="range"]:hover {
  /*opacity: 1; !* Fully shown on mouse-over *!*/
}

.price-range input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  /*width: 25px; !* Set a specific slider handle width *!*/
  /*height: 25px; !* Slider handle height *!*/
  /*background: #04AA6D; !* Green background *!*/
  width: 4px;
  height: 4px;
  background: var(--grey6);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 var(--grey2);
  box-shadow: 0 2px 1px 0 var(--grey2);
  cursor: pointer;
  box-sizing: content-box;
}

.price-range input::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
